<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DLL.Properties.Settings.dien_mayConnectionString"
            connectionString="Data Source=LAPTOP-T2PFFCGC\SQLEXPRESS;Initial Catalog=dien_may;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DLL.Properties.Settings.dien_may4ConnectionString"
            connectionString="Data Source=Ma\SQLEXPRESS;Initial Catalog=dien_may4;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DLL.Properties.Settings.dien_may4ConnectionString1"
            connectionString="Data Source=Ma\SQLEXPRESS;Initial Catalog=dien_may4;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DLL.Properties.Settings.dien_mayConnectionString1"
            connectionString="Data Source=Ma\SQLEXPRESS;Initial Catalog=dien_may;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>